<div class="home-style1">
  <!--  Start loader  -->
  <div class="loader-wrap">
    <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
        <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
    </svg>

    <div class="loader-wrap-heading">
        <div class="load-text">
            <span>d</span>
            <span>r</span>
            <span>e</span>
            <span>a</span>
            <span>m</span>
            <span>m</span>
            <span>o</span>
            <span>r</span>
            <span>e</span>
        </div>
    </div>
</div>
<!--  End loader  -->

    


<!--Contents-->
<main>

    <app-header></app-header>

    <header>

       
        <!--  Start popular cat  -->
        <section class="tc-popular-cat-style1 pt-30 pb-50">
            <div class="container">
                <div class="sec-title">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3 class="fsz-24 text-capitalize"> Catégories populaires </h3>
                        </div>
                       
                    </div>
                </div>
                <div class="cat-content">
                    <a role="button" [href]="'/main/product/cat?id=' + item.id" class="cat-card" *ngFor="let item of categories | slice:0:8"> 
                        <div class="img">
                            <img [src]="item.image?item.image:defaultImg" alt="">
                        </div>
                        <p class="fsz-11 fw-bold mt-15"> {{item.name}} </p>
                    </a>


                </div>
            </div>
        </section>
        <!--  End popular cat  -->


        <!--  Start header  -->
        <section class="tc-header-style1">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="main-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" *ngFor="let item of products | slice:0:2">
                                        <div class="slide-card">
                                            <div class="img th-450">
                                                <img [src]="item.medias[0].file" alt="" class="img-cover">
                                            </div>
                                            <div class="info text-white">
                                                <div class="cont">
                                                    
                                                    <a  [href]="'/main/order?id=' + item.id + '&shop_ref=' + item.shop_reference" class="butn px-5 py-3 bg-white color-000 rounded-pill fw-600"> <span> commander </span> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                 
                                </div>
                                <div class="slider-controls">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-overlay card-center">
                                <div class="img th-450">
                                    <img [src]="products[3].medias[0].file" alt="" class="img-cover">
                                </div>
                                <div class="info text-white p-50">
                                    <div class="cont">
                                       
                                    </div>
                                    <a [href]="'/main/order?id=' + products[3].id + '&shop_ref=' + products[3].shop_reference" class="butn px-5 py-3 bg-white color-000 rounded-pill fw-600"> <span> Commander </span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-overlay wow fadeInUp slow" data-wow-delay="0.2s">
                                <div class="img th-230">
                                    <img [src]="products[4].medias[0].file" alt="" class="img-cover">
                                </div>
                                <div class="info color-000 p-30">
                                    <div class="cont">
                                     
                                    </div>
                                    <a [href]="'/main/order?id=' + products[4].id + '&shop_ref=' + products[4].shop_reference" class="butn px-5 py-3 bg-white color-000 rounded-pill fw-600"> <span> Commander </span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-overlay wow fadeInUp slow" data-wow-delay="0.4s">
                                <div class="img th-230">
                                    <img [src]="products[5].medias[0].file" alt="" class="img-cover">
                                </div>
                                <div class="info text-white p-30">
                                    <div class="cont">
                                        
                                    </div>
                                    <a [href]="'/main/order?id=' + products[5].id + '&shop_ref=' + products[5].shop_reference"  class="butn px-5 py-3 bg-white color-000 rounded-pill fw-600"> <span> Commander </span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card-overlay wow fadeInUp slow" data-wow-delay="0.6s">
                                <div class="img th-230">
                                    <img [src]="products[6].medias[0].file" alt="" class="img-cover">
                                </div>
                                <div class="info text-white p-30">
                                    <div class="cont">
                                       
                                    </div>
                                    <a [href]="'/main/order?id=' + products[6].id + '&shop_ref=' + products[6].shop_reference" class="butn px-5 py-3 bg-white color-000 rounded-pill fw-600"> <span> Commander </span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  End header  -->
    </header>


    <!--  Start weekly-deals  -->
    <section class="tc-weekly-deals-style1 wow fadeInUp slow" data-wow-delay="0.2s">
        <div class="container">
            <div class="content">
                <div class="title mb-40">
                    <h3 class="fsz-30 me-lg-5"> Produits de la semaine </h3>
                    <div class="countdown bg-red1 text-white">
                        <span class="icon me-2"> <i class="las la-hourglass-half"></i> </span> 
                        <p class="me-2"> Expires in: </p>
                        <div class="item">
                            <span id="days"></span>
                            <span> d </span>
                        </div>
                        <span> : </span>
                        <div class="item">
                            <span id="hours"></span>
                            <span> h </span>
                        </div>
                        <span> : </span>
                        <div class="item">
                            <span id="minutes"></span>
                            <span> m </span>
                        </div>
                        <span> : </span>
                        <div class="item">
                            <span id="seconds"></span>
                            <span> s </span>
                        </div>
                    </div>
                    <!-- <div class="arrows ms-auto"> 
                        <a href="#0" class="swiper-prev"> <i class="fal fa-chevron-left"></i> </a>    
                        <a href="#0" class="swiper-next ms-lg-1"> <i class="fal fa-chevron-right"></i> </a>    
                    </div> -->
                </div>
                <div class="deals-cards">


                    <div class="row">
                        <div class="custom-col" *ngFor="let item of products | slice:6:21">
                            <app-product-main-card [product]="item" ></app-product-main-card>
                      
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--  End weekly-deals  -->

 
     <!--  Start best-seller  -->
     <section class="tc-best-seller-style1 wow fadeInUp slow" data-wow-delay="0.2s">
        <div class="container">
            <div class="title mb-40">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <h3 class="fsz-30"> Meilleures ventes </h3>
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="custom-col" *ngFor="let item of products | slice:22:35">
                    <app-product-main-card [product]="item"></app-product-main-card>
                </div>
            </div>
            
        </div>
    </section>
    <!--  End best-seller  -->



    <!--  SPopular product -->
    <section class="tc-suggest-today-style1" data-wow-delay="0.2s">
        <div class="container">
            <div class="title mb-40 wow fadeInUp slow" >
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <h3 class="fsz-30"> Produits populaires   </h3>
                    </div>
                   
                </div>
            </div>

            <div class="row" >
                <div class="custom-col" *ngFor="let item of products_popular " >
                    <app-product-main-card [product]="item"></app-product-main-card>
                </div>
            </div>
            
           
        </div>
    </section>
    <!--  End suggest-today  -->



    <!--  Latest product  -->
    <section class="tc-best-seller-style1 wow fadeInUp slow" data-wow-delay="0.2s">
        <div class="container">
            <div class="title mb-40">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <h3 class="fsz-30"> Produits récents </h3>
                    </div>
                    
                </div>
            </div>


            <div class="row" data-wow-delay="0.2s">
                <div class="custom-col" *ngFor="let item of products_latest " >
                    <app-product-main-card [product]="item"></app-product-main-card>
                </div>
            </div>
         
             
        </div>
    </section>
    <!--  End Just Landing  -->


   


    
</main>
<!--End-Contents-->

<app-footer></app-footer>

</div>