.product-description p.collapsed {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Nombre de lignes affichées */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  

    
  .product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limite à 2 lignes */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em; /* Ajustez en fonction de la hauteur de ligne */
    line-height: 1.5em; /* Hauteur de ligne pour un rendu cohérent */
}


.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Ajuste cette hauteur selon tes besoins */
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column; /* Arrange les icônes verticalement */
  gap: 8px; /* Espacement entre les icônes */
  z-index: 1;
}

.select-icon{
  color: #fff;
  background-color: var(--color-blue1);
  border-radius: 50%;

}

.product-card .icons a {
  width: 36px; /* Taille fixe pour la largeur */
  height: 36px; /* Même taille pour la hauteur */
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centre le contenu */
  border-radius: 50%; /* Forme circulaire */
  background-color: transparent; /* Transparence par défaut */
  color: black; /* Couleur par défaut */
  border: 1px solid black; /* Bordure */
  transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet hover */
}

.product-card .icons a:hover {
  background-color: var(--color-blue1); /* Couleur de fond au survol */
  color: #fff; /* Couleur de texte au survol */
  border: none;
}



.info {
  padding: 10px;
}

.custom-col {
  width: 20%; /* Chaque carte occupe 20% de la ligne */
  float: left; /* Pour aligner les cartes dans une seule ligne */
  padding: 0.5rem; /* Espacement entre les cartes */
  box-sizing: border-box; /* Inclut les bordures et marges dans la largeur */
}