<div class="home-style3 profile-pg-1">

    

    <div class="body-container">

        <div class="container container-llgg">

        <app-header></app-header>


            <!--Contents-->
            <main>

                <!--  Start breadcrumb  -->
                <section class="tc-breadcrumb-style6 p-30 radius-4 bg-white mt-3 wow fadeInUp">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb fw-bold mb-0">
                          <li class="breadcrumb-item color-999"><a href="/main/home">Home</a></li>
                
                          <li class="breadcrumb-item active color-000" aria-current="page">profile</li>
                        </ol>
                      </nav>
                </section>
                <!--  End breadcrumb  -->


                <!--  Start profile  -->
                <section class="tc-profile p-30 radius-4 bg-white mt-3 wow fadeInUp mb-3">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="tabs-side me-lg-5 mb-4 mb-lg-0">
                                <div class="main-info">
                                    <div class="img">
                                        <img src="assets/inner_page/img/avatar.jpg" alt="" class="main-img img-cover">
                                    </div>
                                    <h5 class="fw-bold"> {{user.first_name}} </h5>
                                    <ul class="mt-2 color-666 lh-lg">
                                        <li> <a href="#"> {{user.email}}</a> </li>
                                        <!-- <li> <a href="#"> Los Angeles, CA </a> </li> -->
                                    </ul>
                                </div>
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link active" id="pills-prof1-tab" data-bs-toggle="pill" data-bs-target="#pills-prof1">
                                            <span> Compte </span> <i class="fal fa-arrow-right"></i>
                                      </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="pills-prof2-tab" data-bs-toggle="pill" data-bs-target="#pills-prof2">
                                            <span> My order </span> <i class="fal fa-arrow-right"></i>
                                      </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="pills-prof3-tab" data-bs-toggle="pill" data-bs-target="#pills-prof3">
                                            <span> My address </span> <i class="fal fa-arrow-right"></i>
                                      </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-prof4-tab" data-bs-toggle="pill" data-bs-target="#pills-prof4">
                                              <span> Change password </span> <i class="fal fa-arrow-right"></i>
                                        </button>
                                      </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-prof1">
                                    <div class="acount-tab">
                                        <h4 class="fw-bold text-capitalize mb-30">Information du compte  </h4>
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Prenom <span class="color-red1"> * </span> </label>
                                                        <input type="text"[(ngModel)]="user.first_name" name="first_name" class="form-control" placeholder="" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Nom <span class="color-red1"> * </span> </label>
                                                        <input type="text" class="form-control" placeholder="" [(ngModel)]="user.last_name" name="last_name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Email  <span class="color-red1"> * </span> </label>
                                                        <input type="text" class="form-control" placeholder=""  [(ngModel)]="user.email" name="email">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Phone  <span class="color-666"> (Optional) </span> </label>
                                                        <input type="text" class="form-control" placeholder=""  [(ngModel)]="user.phone_number" name="phone_number">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <a href="#" class="butn bg-green2 text-white radius-4 fw-500 fsz-12 text-uppercase text-center mt-20 py-3 px-5"> <span> save </span> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-prof2">
                                    <div class="orders-tab">
                                        <h4 class="fw-bold text-capitalize mb-30"> Orders History </h4>
                                        <div class="orders">
                                            <div class="order-card">
                                                <div class="order-head">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6">
                                                            <p class="my-2"> <span> NUM: </span> <strong> #45512132 </strong> </p>
                                                            <p class="my-2"> <span> DATE: </span> <span> 3/12/2022 </span> </p>
                                                        </div>
                                                        <div class="col-lg-6 text-lg-end mt-4 mt-lg-0">
                                                            <span class="alert alert-success mb-0 py-2" role="alert"> Delivered </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="products">
                                                    <div class="row gx-3">
                                                        <div class="col-lg-6">
                                                            <div class="product-card">
                                                                <div class="top-inf">
                                                                    <small class="fsz-10 py-1 px-2 radius-2 bg-222 text-white text-uppercase"> new </small>
                                                                    
                                                                </div>
                                                                <a href="#0" class="img">
                                                                    <img src="assets/inner_page/img/products/prod27.png" alt="" class="img-contain main-image">
                                                                </a>
                                                                <div class="info">
                                                                    <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> aPod Pro Tablet 2023  LTE + Wifi, GPS Cellular 12.9 Inch, 512GB </a> </h6>
                                                                    <div class="price mt-15">
                                                                        <h5 class="fsz-18 fw-600"> $979.00 </h5>
                                                                    </div>
                                                                    
                                                                    <div class="meta">
                                                                        <a href="#" class="meta-item color-222"> $2.98 Shipping <span class="bg bg-222"></span> </a>
                                                                    </div>
                                                                    <p class="fsz-12 mt-2"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="product-card">
                                                                <div class="top-inf">
                                                                    <small class="fsz-10 py-1 px-2 radius-2 bg-222 text-white text-uppercase"> new </small>
                                                                    
                                                                </div>
                                                                <a href="#0" class="img">
                                                                    <img src="assets/inner_page/img/products/prod65.png" alt="" class="img-contain main-image">
                                                                </a>
                                                                <div class="info">
                                                                    <div class="rating">
                                                                        <div class="stars">
                                                                            <i class="la la-star"></i>
                                                                            <i class="la la-star"></i>
                                                                            <i class="la la-star"></i>
                                                                            <i class="la la-star"></i>
                                                                            <i class="la la-star color-999"></i>
                                                                        </div>
                                                                        <span class="num"> (5) </span>
                                                                    </div>
                                                                    <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> Samsung Galaxy X6 Ultra LTE 4G/128 Gb, Black  Smartphone  </a> </h6>
                                                                    <div class="price mt-15">
                                                                        <h5 class="fsz-18 fw-600"> $659.00 </h5>
                                                                    </div>
                                                                    
                                                                    <div class="meta">
                                                                        <a href="#" class="meta-item color-green2"> free shipping <span class="bg bg-green2"></span> </a>
                                                                        <a href="#" class="meta-item color-red1"> free gift <span class="bg bg-red1"></span> </a>
                                                                    </div>
                                                                    <p class="fsz-12 mt-2"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-card">
                                                <div class="order-head">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6">
                                                            <p class="my-2"> <span> NUM: </span> <strong> #45512132 </strong> </p>
                                                            <p class="my-2"> <span> DATE: </span> <span> 3/12/2022 </span> </p>
                                                        </div>
                                                        <div class="col-lg-6 text-lg-end mt-4 mt-lg-0">
                                                            <span class="alert alert-danger mb-0 py-2" role="alert"> Rejected </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="products">
                                                    <div class="row gx-3">
                                                        <div class="col-lg-6">
                                                            <div class="product-card">
                                                                <div class="top-inf">
                                                                    <div class="dis-card">
                                                                        <small class="fsz-10 d-block text-uppercase"> save </small>
                                                                        <h6 class="fsz-14"> $199.00 </h6>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <a href="#0" class="img">
                                                                    <img src="assets/inner_page/img/products/prod26.png" alt="" class="img-contain main-image">
                                                                </a>
                                                                <div class="info">
                                                                    <div class="rating">
                                                                        <div class="stars">
                                                                            <i class="la la-star"></i>
                                                                            <i class="la la-star"></i>
                                                                            <i class="la la-star"></i>
                                                                            <i class="la la-star"></i>
                                                                            <i class="la la-star"></i>
                                                                        </div>
                                                                        <span class="num"> (152) </span>
                                                                    </div>
                                                                    <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> SROK Smart Phone 128GB, Oled Retina </a> </h6>
                                                                    <div class="price mt-15">
                                                                        <h5 class="fsz-18 color-red1 fw-600"> $579.00 </h5>
                                                                    </div>
                                                                    
                                                                    <div class="meta">
                                                                        <a href="#" class="meta-item color-green2"> free shipping <span class="bg bg-green2"></span> </a>
                                                                    </div>
                                                                    <p class="fsz-12 mt-2"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="product-card">
                                                                <div class="top-inf">
                                                                    <small class="fsz-10 py-1 px-2 radius-2 bg-222 text-white text-uppercase"> new </small>
                                                                    
                                                                </div>
                                                                <a href="#0" class="img">
                                                                    <img src="assets/inner_page/img/products/prod27.png" alt="" class="img-contain main-image">
                                                                </a>
                                                                <div class="info">
                                                                    <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> aPod Pro Tablet 2023  LTE + Wifi, GPS Cellular 12.9 Inch, 512GB </a> </h6>
                                                                    <div class="price mt-15">
                                                                        <h5 class="fsz-18 fw-600"> $979.00 </h5>
                                                                    </div>
                                                                    
                                                                    <div class="meta">
                                                                        <a href="#" class="meta-item color-222"> $2.98 Shipping <span class="bg bg-222"></span> </a>
                                                                    </div>
                                                                    <p class="fsz-12 mt-2"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-prof3">
                                    <div class="acount-tab">
                                        <h4 class="fw-bold text-capitalize mb-30"> My Address </h4>
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Country / Region <span class="color-red1"> * </span> </label>
                                                        <select name="" id="" class="form-control form-select">
                                                            <option value=""> United States (US) </option>
                                                            <option value=""> United States (US) </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Street Address </label>
                                                        <input type="text" class="form-control mb-2" placeholder="House number and street name ..." value="House number: 45 , street name: jard street">
                                                        <input type="text" class="form-control" placeholder="Apartment, suite, unit, etc (Optional)" value="Apartment: 42">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Town / City <span class="color-red1"> * </span> </label>
                                                        <input type="text" class="form-control" placeholder="" value="Washington">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> State / County <span class="color-red1"> * </span> </label>
                                                        <select name="" id="" class="form-control form-select">
                                                            <option value=""> Washington </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Zip Code <span class="color-red1"> * </span> </label>
                                                        <input type="text" class="form-control" placeholder="" value="12345">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <a href="#" class="butn bg-green2 text-white radius-4 fw-500 fsz-12 text-uppercase text-center mt-20 py-3 px-5"> <span> save </span> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-prof4">
                                    <div class="acount-tab">
                                        <h4 class="fw-bold text-capitalize mb-30"> Change Password </h4>
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Current password </label>
                                                        <input type="password" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> New password </label>
                                                        <input type="password" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-4">
                                                        <label for=""> Confirm password </label>
                                                        <input type="password" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <a href="#" class="butn bg-green2 text-white radius-4 fw-500 fsz-12 text-uppercase text-center mt-20 py-3 px-5"> <span> save </span> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  End profile  -->


            </main>
            <!--End-Contents-->

        </div>

    </div>

 
    


    </div>