.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limite à 2 lignes */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 3em; /* Ajustez selon la taille de la police et l'espacement */
  }
  

  /* Style personnalisé pour les options de livraison */
  .shipping-option {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  /* Style pour la couleur des radio boutons */
  .custom-radio:checked::before {
    background-color: #FD9636 !important;
    border-color: #FD9636 !important;
  }

  .custom-radio {
    accent-color: #FD9636;
  }


  .delivery-button {
    background-color: #ffffff; /* Couleur de fond blanche */
    border-radius: 10px; /* Bordure arrondie */
    padding: 15px; /* Espacement interne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile pour l'élévation */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transition pour un effet de clic */
    cursor: pointer; /* Curseur de pointeur pour l'effet de bouton */
    border: 1px solid #ddd; /* Bordure légère */
  }
  
  .delivery-button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
  }
  
  .delivery-button:active {
    transform: translateY(1px); /* Légère pression en cas de clic */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Ombre réduite lors du clic */
  }
  
  .delivery-button h5.card-title {
    font-size: 16px;
    font-weight: 600;
    color: #333; /* Couleur du texte pour le titre */
  }
  
  .delivery-button .row {
    align-items: center;
  }
  
  .delivery-button .row .col-md-6 h5 {
    font-size: 14px;
    font-weight: 500;
    color: #FD9636; /* Couleur personnalisée pour le mode de livraison */
  }
  
  .delivery-button .row .col-md-6 p {
    font-size: 12px;
    color: #666; /* Couleur pour le délai de livraison */
  }
  
  .delivery-button .row .col-md-6.text-end h5 {
    font-size: 16px;
    color: #666; /* Couleur de l'icône flèche */
    font-weight: bold;
  }
  

  .delivery-map-container {
    background-image: url("../../../../../assets/common/assets/imgs/map.png"); /* Remplacez par le chemin de votre image */
    background-size: cover; /* L'image couvrira toute la surface */
    background-position: center; /* Centre l'image dans la div */
    border-radius: 8px; /* Ajoutez un arrondi si nécessaire */
    position: relative; /* Pour que l'overlay se positionne correctement */
  }
  
  .delivery-map-overlay {
    background-color: rgba(255, 255, 255, 0.6); /* Fond semi-transparent */
    width: 100%;
    height: 100%;
    border-radius: inherit; /* Assure que l'arrondi est appliqué */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .text-overlay {
    color: #6c757d; /* Gris par défaut */
    font-size: 1.2rem;
  }
  
  .text-overlay-selected {
    color: #28a745; /* Vert une fois sélectionné */
    font-weight: bold;
  }

  /*phone input*/

  .phone-input {
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    max-width: 300px; /* Ajustez la largeur si nécessaire */
  }
  
  .flag-container {
    padding: 0;
    background-color: #f1f1f1; /* Couleur d'arrière-plan pour le drapeau */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .flag-container img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  .phone-input-field {
    border: none;
    height: 40px;
    padding-left: 10px; /* Espace entre le drapeau et le texte */
    font-size: 1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .phone-input-field:focus {
    outline: none;
    box-shadow: none; /* Enlever l'effet de focus par défaut */
  }
  