<ng-container *ngIf="isLoading==true">
    <app-shimer [item]="5"></app-shimer>
   </ng-container> 

<div class="home-style3 sin-prod-pg-1" *ngIf="isLoading==false" >

   

    <div class="body-container"  >

        
        

        <div class="container container-llgg">

            <app-header></app-header>

            <!--Contents-->
            <main >

                <!--  Start breadcrumb  -->
                <section class="tc-breadcrumb-style6 p-30 radius-4 bg-white mt-3 wow fadeInUp">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb fw-bold mb-0">
                          <li class="breadcrumb-item color-999"><a href="/main/home">Home</a></li>
                          <li class="breadcrumb-item color-999"><a >chekout</a></li>
                          <li class="breadcrumb-item active color-000" aria-current="page">{{product.name}}</li>
                        </ol>
                      </nav>
                </section>
                <!--  End breadcrumb  -->

                <!--  Start main details  -->
                <section class="product-main-details p-30 radius-4 bg-white mt-3 wow fadeInUp">
                    <div class="container">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="card h-100">
                                <div class="card-body text text-dark">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                          <h5 class="card-title mb-0">Détails du produit</h5>
                                        </div>
                                        <div class="col-md-6 d-flex align-items-center justify-content-md-end">
                                          <span><img [src]="shopInfo.logo" class="rounded-circle me-3" alt="Profil" style="width: 40px; height: 40px;"></span>
                                          <h5 class="mb-0">{{shopInfo.name}}</h5>
                                        </div>
                                    </div>
                                    <br>
                  
                                  <div class="d-flex mb-4">
                                    <div class="flex-shrink-0" style="width: 100px; height: 100px;">
                                      <img [src]="mainImage" alt="image du produit" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 100%;">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                      <h6 class="mb-1 product-name">{{product.name}}</h6>
                                      <p class="text-muted small mb-2 product-name">{{product.description}}</p>
                                      <div class="d-flex align-items-center gap-2 mb-2">
                                        <button class="btn btn-sm btn-outline-secondary rounded-circle" (click)="decrementQuantity()">-</button>
                                        <span>{{quantity}}</span>
                                        <button class="btn btn-sm btn-outline-secondary rounded-circle" (click)="incrementQuantity()">+</button>
                                      </div>
                                      <h5 class="text-dark font-bold mb-0"><span style="color: #FD9636;">{{product.selling_price}}</span> CFA</h5>
                                    </div>
                                  </div>
                  
                                  <h5 class="card-title mb-3">Adresse de livraison</h5>
                                  <div class="mb-3 delivery-map-container" role="button" (click)="getLocation()" style="height: 150px;">
                                    <div class="delivery-map-overlay d-flex align-items-center justify-content-center">
                                      <span [ngClass]="{ 'text-overlay-selected': locationSelected, 'text-overlay': !locationSelected }">
                                        {{ locationSelected ? 'Localisation sélectionnée' : 'Sélectionnez votre localisation' }}
                                      </span>
                                    </div>
                                  </div>
                  
                  
                                  <div class="mb-3 delivery-button" role="button" (click)="mode_modal=true">
                                    <h5 class="card-title">Mode de livraison</h5>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <h5 style="color: #FD9636;">Livraison par {{ selectedDelivery.modeName }}</h5>
                                        <p>Temps de livraison {{ selectedDelivery.deliveryTime }} jours</p>
                                      </div>
                                      <div class="col-md-6 text-end">
                                        <h5>></h5>
                                      </div>
                                    </div>
                                  </div>
                  
                                  <div class="input-group phone-input">
                                    <span class="input-group-text">
                                      TEL :
                                    </span>
                                    <input type="tel" class="form-control phone-input-field" placeholder=" (E.X)+228 90000000">
                                  </div>
                                  
                                </div>
                              </div>
                            
                          </div>
                          <div class="col-lg-6">
                            <div class="card h-100">
                                <div class="card-body text text-dark">
                                  <h5 class="card-title mb-4">Résumé</h5>
                                  <div class="d-flex justify-content-between mb-2">
                                    <span>Prix total des articles</span>
                                    <span>{{totalPrice}} CFA</span>
                                  </div>
                                  <div class="d-flex justify-content-between mb-2">
                                    <span>Code promo</span>
                                    <span>-</span>
                                  </div>
                                  <div class="d-flex justify-content-between mb-3">
                                    <span>Frais de livraison totaux</span>
                                    <span>{{delyveryTotalPrice}} CFA</span>
                                  </div>
                                  <hr/>
                                  <div class="d-flex justify-content-between mb-4">
                                    <span class="fw-bold">Total</span>
                                    <span class="fw-bold">{{delyveryTotalPrice + totalPrice}} CFA</span>
                                  </div>
                                  <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" id="terms">
                                    <label class="form-check-label small" for="terms">
                                      En cliquant sur Commander, je confirme avoir lu et compris <a role="button" class="color-blue1">les termes et conditions</a>
                                    </label>
                                  </div>
                                  
                                  <a role="button" (click)="Addcommande()" class="butn bg-green2 text-white radius-4 fw-500 fsz-12 text-uppercase text-center mt-30 w-100 py-3"> <span> Commander </span> </a>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                </section>
                <!--  End main details  -->


              


            </main>
            <!--End-Contents-->

        </div>

    </div>
   <app-footer></app-footer>
</div>


<!--modal for livraison-->

<p-dialog 
  header="Mode de Livraison"
  [(visible)]="mode_modal"
  [modal]="true"
  [closable]="true"
  width="30%"
  [style]="{ width: '30rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
>
  <div class="container mt-4 text text-dark">

    <!-- Sélection du pays -->
    <div class="mb-4">
      <h2 class="text-dark fs-6">Sélectionnez un pays</h2>

      <select class="form-select" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
        <option *ngFor="let country of shopInfo.deliveryInfo" [value]="country.id">{{ country.name }}</option>
      </select>
    </div>

    <!-- Modes de livraison disponibles -->
    <h4 class="text-dark">Modes de Livraison Disponibles</h4>
    <p class="text-muted small mt-0">Choisissez un mode de livraison</p>
    <br>

    <!-- Liste des options de livraison -->
    <div class="list-group" *ngIf="selectedCountryDeliveryOptions && selectedCountryDeliveryOptions.length > 0">
      <div *ngFor="let company of selectedCountryDeliveryOptions" class="mb-3">
        
        <!-- Nom de la compagnie -->
        <h5 class="text-bold color-blue1">{{ company.name }}</h5>
        
        <!-- Boucle sur les modes de livraison de la compagnie -->
        <div *ngFor="let mode of company.deliveryMode">
          
          <!-- Boucle sur chaque tarif pour ce mode de livraison -->
          <div *ngFor="let rate of mode.deliveryRate" class="list-group-item shipping-option p-3 d-flex align-items-center justify-content-between">
            <div>
              <h3 class="fs-5 mb-2">Livraison par {{ mode.name }}</h3>
              <p class="mb-1">Délai de livraison : <strong>{{ rate.delai }} jours</strong></p>
              <p class="mb-1">Prix : <strong>{{ rate.price }} FCFA / {{ rate.unit_nbr }} {{ rate.unit }}</strong></p>
              <p class="mb-1">Type de livraison : <strong class="text-success">{{ rate.option }}</strong></p>
              
              <!-- Disponibilité du suivi -->
              <span class="badge" [ngClass]="mode.is_tracking ? 'bg-primary' : 'bg-secondary'">
                {{ mode.is_tracking ? 'Suivi disponible' : 'Suivi indisponible' }}
              </span>
            </div>

            <!-- Bouton de sélection de livraison -->
            <div class="form-check">
              <input class="form-check-input custom-radio" type="radio" name="shippingOption" [value]="rate.id"
              (change)="selectDeliveryOption(company, mode, rate)"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
