<div class="home-style1">

    <app-header></app-header>

    <div class="container my-5">
        <div class="card shadow-lg">
          <div class="card-header text-white bg-dark">
            <h1 class="d-flex align-items-center">
              <i class="pi pi-file-text mr-3"></i> Termes et Conditions
            </h1>
          </div>
          <div class="card-body">
            <section class="mb-4">
              <h2 class="color-blue1">Article 1 : Objet</h2>
              <p>
                {{article1}}
              </p>
            </section>
            <section class="mb-4">
              <h2 class="color-blue1">Article 2 : Mentions légales</h2>
              <p>
                L’édition du site et de l’application est assurée par DIGITAL KEYS SARL, Société à Responsabilité
                Limitée, immatriculée sous le numéro RCCM TG-LOM 2019 M 1271.
              </p>
              <ul>
                <li><strong>Téléphone :</strong> (+228) 70 34 99 99</li>
                <li><strong>Email :</strong> <a href="mailto:dreammore228@gmail.com">dreammore228@gmail.com</a></li>
                <li><strong>Adresse :</strong> Lomé, quartier Agoe</li>
                <li><strong>Capital :</strong> 1.000.000 FCFA</li>
              </ul>
            </section>
            <section class="mb-4">
              <h2 class="color-blue1">Article 3 : Définitions</h2>
              <p>
                <strong>Acheteur :</strong> désigne un membre ayant passé commande ou enregistré un produit en favoris.
              </p>
              <p>
                <strong>Assurance  :</strong> désigne la garantie souscrite par le marchand pour couvrir les divers dommages et pertes qui affecteraient les marchandises au cours de l’expédition ou du transport
              </p>
            </section>
            <a href="/assets/common/assets/files/terme-condition.pdf" target="_blank" class="btn btn-warning">
              <i class="pi pi-download"></i> Télécharger la fiche complete
            </a>
          </div>
          <div class="card-footer bg-dark text-white text-center">
            <p>&copy; 2024 Digital Keys SARL - Tous droits réservés.</p>
          </div>
        </div>
      </div>
      
    <app-footer></app-footer>
  </div>
  
  