<main>
            
    <!--  Start Register  -->
    <section class="tc-login p-5 radius-4 bg-white mt-3 mb-3">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-12">
                <div class="login-form">
                    <div class="title mb-30">
                        <h3 class="color-green2 mb-10"> Bienvenue </h3>
                        <p class="fsz-14 text-uppercase ltspc-2 color-999"> créez votre compte pour continuer </p>
                    </div>
                    <form action="" class="form d-block">
                        <!-- Nom et prénom dans la même ligne -->
                        <div class="row">
                            <div class="form-group col-md-6 mb-4">
                                <label for="">Prénom *</label>
                                <input [(ngModel)]="user.first_name" name="first_name" type="text" class="form-control" placeholder="Prénom">
                            </div>
                            <div class="form-group col-md-6 mb-4">
                                <label for="">Nom *</label>
                                <input [(ngModel)]="user.last_name" name="last_name" type="text" class="form-control" placeholder="Nom">
                            </div>
                        </div>

                        <!-- Email et Téléphone dans la même ligne -->
                        <div class="row">
                            <div class="form-group col-md-6 mb-4">
                                <label for="">Adresse e-mail *</label>
                                <input [(ngModel)]="user.email" name="email" type="text" class="form-control" placeholder="Exemple@gmail.com">
                            </div>
                            <div class="form-group col-md-6 mb-4">
                                <label for="">Téléphone *</label>
                                <input [(ngModel)]="user.phone_number" name="phone_number" type="text" class="form-control" placeholder="Numéro de téléphone">
                            </div>
                        </div>

                        <!-- Mot de passe -->
                        <div class="form-group show_hide_password ">
                            <label for="">Mot de passe *</label>
                            <input [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="....">
                            <i class="show_pass fal fa-eye-slash"></i>
                        </div>

                        <div class="btns">
                            <a role="button" (click)="register()" class="btn btn-bloc butn bg-green2 text-white radius-4 fw-500 fsz-14 text-uppercase text-center mt-40 px-5"> <span> S'inscrire </span> </a>
                        </div>

                        <!-- Lien de connexion -->
                        <div class="mt-0">
                            <a role="button" (click)="showLoginModal()" class="text-uppercase color-999 fsz-13 mt-3"> Déjà inscrit ? <span class="color-green2">  Connectez-vous </span> </a>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--  End Register  -->
</main>
