
<!--  Start footer  -->
<footer class="tc-footer-style1">

    <div class="container">
      
        <div class="foot-content text-white">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foot-info text-white ms-10">

                        <img src="assets/favicon/android-chrome-512x512.png" style="width:20%; height:10%;" alt="App Logo" class="app-logo">

                        
                        <h5 class="fw-bold color-blue1 mb-20"> (025) 3686 25 16 </h5>
                        <a href="#"> 257 Thatcher Road St, Brooklyn, Manhattan, <br> NY 10092 </a>
                        <a href="#"> contact@swateletro.com </a>
                        <div class="foot-social mt-40">
                            <a href="#"> <i class="fab fa-twitter"></i> </a>
                            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                            <a href="#"> <i class="fab fa-instagram"></i> </a>
                            <a href="#"> <i class="fab fa-youtube"></i> </a>
                            <a href="#"> <i class="fab fa-behance"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-item mt-5 mt-lg-0">
                        <h6 class="fsz-18 mb-30"> Top Categories </h6>
                        <ul class="links">
                            <li> <a href="#"> TV/Televisions </a> </li>
                            <li> <a href="#"> Computers </a> </li>
                            <li> <a href="#"> Laptops </a> </li>
                            <li> <a href="#"> Mobiles & Tablets </a> </li>
                            <li> <a href="#"> Audios </a> </li>
                            <li> <a href="#"> Cameras </a> </li>
                            <li> <a href="#"> Gadget </a> </li>
                            <li> <a href="#"> Sport Equipments </a> </li>
                            <li> <a href="#"> Office </a> </li>
                            <li> <a href="#"> Smart Home </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-item mt-5 mt-lg-0">
                        <h6 class="fsz-18 mb-30"> Company </h6>
                        <ul class="links">
                            <li> <a href="#"> About Swoo </a> </li>
                            <li> <a href="#"> Contact </a> </li>
                            <li> <a href="#"> Career </a> </li>
                            <li> <a href="#"> Blog </a> </li>
                            <li> <a href="#"> Sitemap </a> </li>
                            <li> <a href="#"> Store Locations </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-item mt-5 mt-lg-0">
                        <h6 class="fsz-18 mb-30"> Help Center </h6>
                        <ul class="links">
                            <li> <a href="#"> Customer Service </a> </li>
                            <li> <a href="#"> Policy </a> </li>
                            <li> <a href="#"> Terms & Conditions </a> </li>
                            <li> <a href="#"> Trach Order </a> </li>
                            <li> <a href="#"> FAQs </a> </li>
                            <li> <a href="#"> My Account </a> </li>
                            <li> <a href="#"> Product Support </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-item mt-5 mt-lg-0">
                        <h6 class="fsz-18 mb-30"> Partner </h6>
                        <ul class="links">
                            <li> <a href="#"> Become Seller </a> </li>
                            <li> <a href="#"> Affiliate </a> </li>
                            <li> <a href="#"> Advertise </a> </li>
                            <li> <a href="#"> Partnership </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-white">
                <div class="col-lg-4 text-center ms-10 text-white text-lg-start">
                    <p class=""> © 2023 <a href="#" class="fw-bold color-000"> SWOO </a>. All Rights Reserved </p>
                </div>
            </div>
        </div>
    </div>


    <div class="mob-navigation d-flex d-lg-none">
        <ul>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="las la-sync-alt"></i> </span>
                    <span class="text">Compare</span>
                </a>
            </li>
            <li class="list">
                <a href="/main/favoris/">
                    <span class="icon"> <i class="lar la-heart"></i> </span>
                    <span class="text">Favoris</span>
                </a>
            </li>
            <li class="list active">
                <a href="/main/home/">
                    <span class="icon"> <i class="las la-home"></i> </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="/main/shops/">
                    <span class="icon"> <i class="las la-shopping-bag"></i> </span>
                    <span class="text">Boutiques</span>
                </a>
            </li>
            <li class="list">
                <a href="/main/profile/">
                    <span class="icon"> <i class="las la-user"></i> </span>
                    <span class="text">Profile</span>
                </a>
            </li>
            <li class="indicator"></li>
        </ul>
    </div>

</footer>
<!--  End footer  -->

<!--  Start to top button  -->
<a href="#" class="to_top">
    <i class="la la-angle-up"></i>
</a>
<!--  End to top button  -->