<div class="product-card2 mt-10">
    <div class="product-image">
      <a [href]="'/main/product?id=' + product.id + '&shop_ref=' + product.shop_reference">
        <img [src]="product.medias[0].file" alt="img" class="img-fluid">
        <div class="preview-icons">
          <span class="preview-icon">
            <a [href]="product.medias[0].file" class="icon" data-fancybox="gallery">
                <i class="pi pi-eye"></i>
            </a>
          </span>
          <span class="preview-icon">
            <i class="pi pi-heart"></i>
          </span>
        </div>
      </a>
    </div>
    <div class="product-details">
      <h3 class="product-title product-name">{{product.name}}</h3>
      <div class="price-cart">
        <div class="price">
          <span class="amount">{{product.selling_price}}</span>
          <sup class="decimal">CFA</sup>
        </div>
        <button class="cart-btn">
            <a [href]="'/main/order?id=' + product.id + '&shop_ref=' + product.shop_reference">
                <i class="pi pi-shopping-cart"></i>
            </a>
        </button>
      </div>
      <div class="rating">
        <div class="stars">
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
        </div>
      </div>
    </div>
  </div>