<div class="product-card2 mt-10">
    <div class="product-image">
      <a [href]="'/main/product?id=' + product.id + '&shop_ref=' + product.shop_reference">
        <img [src]="product.medias[0].file" alt="img" class="img-fluid">     
      </a>
      <div class="preview-icons">
        <span class="preview-icon">
          <a [href]="product.medias[0].file" class="icon" data-fancybox="gallery">
              <i class="pi pi-eye"></i>
          </a>
        </span>
        <span class="preview-icon">
          <a role="button" (click)="addToFavorites()">
            <i class="pi pi-heart" ></i>
          </a>
        </span>
      </div>
    </div>
    <div class="product-details">
      <h3 class="product-title product-name">{{product.name}}</h3>
      <div class="price-cart">
        <div class="price">
          <span class="amount color-blue1">{{product.selling_price}}</span>
          <sup class="decimal color-blue1">CFA</sup>
        </div>
        <button class="cart-btn">
            <a [href]="'/main/order?id=' + product.id + '&shop_ref=' + product.shop_reference">
                <i class="pi pi-shopping-cart"></i>
            </a>
        </button>
      </div>
      
    </div>
  </div>