<body class="home-style3">

    <div class="body-container">

        <div class="container container-llgg">

           <app-header></app-header>


            <!--Contents-->
            <main>

                <!--  Start breadcrumb  -->
                <section class="tc-breadcrumb-style6 p-30 radius-4 bg-white mt-3 wow fadeInUp">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb fw-bold mb-0">
                          <li class="breadcrumb-item color-999"><a href="/main/home/">Accueil</a></li>
                          <li class="breadcrumb-item color-999"><a >Contact</a></li>
                        </ol>
                      </nav>
                </section>
                <!--  End breadcrumb  -->
                <section class="contact p-30 radius-4 bg-white mt-3 wow fadeInUp">
                    <h6 class="fsz-18 fw-bold text-uppercase mb-30"> Contactez-nous </h6>
                    <div class="checkout-form mt-50">
                        <div class="row">
                            <div class="col-lg-7">
                                <p class="fsz-16 color-666 mb-30"> Pour toutes vos questions et opinions </p>
                                <form class="form">
                                    <div class="form-content">
                                        <div class="row gx-3">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-4">
                                                    <label for=""> Prénom <span class="color-red1"> * </span> </label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-4">
                                                    <label for=""> Nom <span class="color-red1"> * </span> </label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group mb-4">
                                                    <label for=""> Adresse email <span class="color-red1"> * </span> </label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group mb-4">
                                                    <label for=""> Numéro de téléphone <span class="color-666"> (Facultatif) </span> </label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-12">
                                                <div class="form-group mb-4">
                                                    <label for=""> Sujet <span class="color-666"> (Facultatif) </span> </label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group mb-4">
                                                    <label for=""> Message </label>
                                                    <textarea name="" rows="5" class="form-control" placeholder="Note sur votre demande, par exemple, instruction spéciale pour la livraison"></textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-12">
                                                <a href="#" class="butn bg-green2 text-white radius-4 fw-500 fsz-12 text-uppercase text-center mt-50 py-3"> <span> envoyer un message </span> </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-5">
                                <div class="contact-info mt-5 mt-lg-0">
                                    <div class="contact-info-card">
                                        <small class="fsz-12 color-666 text-uppercase mb-20"> États-Unis (Siège principal) </small>
                                        <ul class="fsz-16 lh-lg">
                                            <li>
                                                <a href="#"> 152 Thatcher Road St, Mahattan, 10463, US </a>
                                            </li>
                                            <li>
                                                <a href="#"> (+025) 3886 25 16 </a>
                                            </li>
                                            <li>
                                                <a href="#" class="color-green2 text-decoration-underline"> contact@dreammore.co </a>
                                            </li>
                                        </ul>
                                        <small class="fsz-12 color-666 text-uppercase mb-20 mt-50"> Royaume-Uni (Agence) </small>
                                        <ul class="fsz-16 lh-lg">
                                            <li>
                                                <a href="#"> 12 Buckingham Rd, Thornthwaite, HG3 4TY, UK </a>
                                            </li>
                                            <li>
                                                <a href="#"> (+718) 895-5350 </a>
                                            </li>
                                            <li>
                                                <a href="#" class="color-green2 text-decoration-underline"> contact@dreammore.co </a>
                                            </li>
                                        </ul>
                                        <div class="mt-50">
                                            <a  href="https://www.facebook.com/Dreammoreapp" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                                            <a href="https://www.instagram.com/dreammore_bientot/" target="_blank"> <i class="fab fa-instagram"></i> </a>
                                            <a href="https://www.tiktok.com/@dreammore_?lang=en" target="_blank"> <i class="pi pi-tiktok"></i> </a>
                                            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7264725541084151808" target="_blank"> <i class="pi pi-linkedin"></i> </a>
                                        </div>
                                    </div>
                                    <div class="img th-380 mt-10">
                                        <img src="assets/favicon/android-chrome-512x512.png" alt="" class="img-cover radius-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!--  End contact  -->
        
        
                <!-- Start map  -->
                <section class="map p-30 radius-4 bg-white mt-3 wow fadeInUp mb-3">
                    <h6 class="fsz-18 fw-bold text-uppercase mb-30"> Retrouvez-nous sur Google Maps </h6>
                    <div class="map-content">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.501184049855!2d10.508400375579958!3d43.845439739977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d583f3cf413995%3A0x39c36090e2825e12!2sChurch%20of%20Saint%20Francis!5e0!3m2!1sen!2seg!4v1694912173628!5m2!1sen!2seg" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </section>
            </main>
            <!--End-Contents-->

        </div>

    </div>

<app-footer></app-footer>
   

</body>
